.slider{
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 5% 0;
}
.weapon1{
  width: 450px;
}
.limit {
 display: flex;
 flex-direction: column;
 align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-cases{
  display: flex;
  margin-top: 20px;
}
.case{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face{
  font-family: Saira;
  src: url("../fonts/SairaStencilOne-Regular.ttf")
}

.title-section{
  font-family: Saira;
}
.main-title{
  display: flex;
  font-family: Saira;
  font-size: 60px;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: #ffd403 linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
 justify-content: center;
} 

}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: center;
}
.menu-item{
  margin-left: 40px;
  list-style-type: none;
}
.btn-case{
  background: #ffd403 linear-gradient(rgb(255,212,3), rgb(248,157,23));
  padding: 10px;
}
button {
  display: inline-block;
  color: black;
  font-size: 195%;
  font-weight: 800;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
  margin-top: 30px;
} 
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
button:hover {
	animation: bounce 1s;
}


.case {
    /* Add shadows to create the "card" effect */
   
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .case:hover {
    box-shadow: 0 8px 16px 0  yellow;
  }
  
  /* Add some padding inside the card container */


  .case{
    margin-top: 10%;
    padding: 80px;
  }
  .title-case1{
     background: linear-gradient(60deg, darkred 33%, red 66%, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: red;
    font-size: large;
    font-family: Arial;
  }
  .title-case2{
    background: linear-gradient(60deg, darkViolet 33%,violet 66%, violet);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: red;
   font-size: large;
   font-family: Arial;
 }
 .title-case3{
  background: linear-gradient(60deg, rgb(160, 0, 75) 33%,rgb(233, 0, 128) 66%, pink);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: red;
 font-size: large;
 font-family: Arial;
}
.title-case4{
  background: linear-gradient(60deg, darkred 33%, red 66%, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: red;
 font-size: large;
 font-family: Arial;
}